* {
  margin: 0;
  padding: 0;
}

html, body, div#app {
  height: 100vh;
  overflow: hidden;
}

html {
  font-size: 14px;
}

body {
  background: #f6f6f6;
}

ul {
  padding: 0;
  list-style: none;
}

.hide {
  display: none;
}

.container {
  min-width: 60rem;
  height: 100%;
  display: flex;
  flex-direction: row;

  h1 {
    font-size: 1.1rem;
  }
}

.side {
  width: 16rem;
  height: 100%;
  overflow: auto;
  background: #01579B;
  box-shadow: inset -1px 0 3px rgba(0,75,100,.5);

  .header {
    height: auto;
    padding: .75rem 1rem;
    line-height: 1.8rem;
    
    h1 {
      color: #fff;
    }
  }
}

.main {
  display: flex;
  flex: 1;
  height: 100%;
  position: relative;
}
